<section class="knowledge">
  <div class="knowledge-container container">
      <div class="knowledge-texts">
          <h2 class="subtitle">Curso completo CSS3. ¡Domina CSS de una vez por todas!</h2>
          <p class="knowledge-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolor velit explicabo, natus nisi sequi fuga numquam doloribus necessitatibus quis officiis vero excepturi. Molestias quae beatae omnis quos rerum alias!</p>
          <a href="#" class="cta">Entra al curso</a>
      </div>

      <figure class="knowledge-picture">
          <img src="./assets/img/macbook.png" alt="" class="knowledge-img"/>
      </figure>
  </div>
</section>