<section class="knowledge">
  <div class="knowledge-container container">
      <div class="knowledge-texts">
          <h2 class="subtitle">Transforma tu negocio con soluciones tecnológicas a medida</h2>
          <p class="knowledge-paragraph">En DevXperts, ofrecemos soluciones de software personalizadas que optimizan tus procesos, mejoran la experiencia de tus usuarios y te posicionan a la vanguardia de la tecnología.</p>
          <a href="#" class="cta">Solicita nuestros servicios</a>
      </div>

      <figure class="knowledge-picture">
          <img src="./assets/img/desarrollo-web1.png" alt="" class="knowledge-img"/>
      </figure>
  </div>
</section>