<section id="nosotros" class="container about">
  <h2 class="subtitle mt-70">Sobre Nosotros</h2>
  <p class="about-paragraph">
    En DevXperts, somos una empresa apasionada por la tecnología y la
    innovación. Nos especializamos en el desarrollo de soluciones digitales que
    transforman ideas en realidades y ayudan a nuestros clientes a alcanzar sus
    metas.
  </p>

  <div class="about-main">
    <article class="about-icons border">
      <!-- <img src="./assets/img/api.png" alt="" class="about-icon" /> -->
      <h3 class="about-title">Misión</h3>
      <p class="about-paragraph">
        Crear productos tecnológicos innovadores que impacten positivamente la
        vida de las personas, combinando calidad, eficiencia y facilidad de uso.
      </p>
    </article>

    <article class="about-icons border">
      <!-- <img src="./assets/img/movil.png" alt="" class="about-icon" /> -->
      <h3 class="about-title">Visión</h3>
      <p class="about-paragraph">
        Convertirnos en líderes en el desarrollo de soluciones digitales
        personalizadas, reconocidos por nuestro enfoque centrado en el cliente y
        nuestro compromiso con la excelencia.
      </p>
    </article>

    <article class="about-icons border">
      <!-- <img src="./assets/img/web.png" alt="" class="about-icon" /> -->
      <h3 class="about-title">Valores</h3>
      <p class="about-paragraph">
        Nos enfocamos en la innovación constante, el compromiso con la excelencia, la entrega de productos de alta calidad y la colaboración efectiva con nuestros clientes para superar sus expectativas.
      </p>
    </article>
  </div>
</section>
