<section class="questions container">
  <h2 class="subtitle">Preguntas frecuentes</h2>
  <p class="questions-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, beatae?</p>

  <section class="questions-container">
      <article class="questions-padding">
          <div class="questions-answer">
              <h3 class="questions-title">¿Qué es CSS?
                  <span class="questions-arrow">
                      <img src="./assets/img/arrow.svg" alt="" class="questions-img"/>
                  </span>
              </h3>
              <p class="questions-show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum soluta fuga animi quia hic accusamus, quaerat qui sit, error saepe quasi ipsum distinctio amet excepturi natus voluptates porro explicabo a. Aspernatur hic culpa provident voluptatem, quibusdam nulla. Dolores vel asperiores dolor exercitationem, tempore alias at, nesciunt atque recusandae explicabo ad.</p>
          </div>
      </article>

      <article class="questions-padding">
          <div class="questions-answer">
              <h3 class="questions-title">¿Qué aprenderé en esté curso?
                  <span class="questions-arrow">
                      <img src="./assets/img/arrow.svg" alt="" class="questions-img"/>
                  </span>
              </h3>
              <p class="questions-show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum soluta fuga animi quia hic accusamus, quaerat qui sit, error saepe quasi ipsum distinctio amet excepturi natus voluptates porro explicabo a. Aspernatur hic culpa provident voluptatem, quibusdam nulla. Dolores vel asperiores dolor exercitationem, tempore alias at, nesciunt atque recusandae explicabo ad.</p>
          </div>
      </article>

      <article class="questions-padding">
          <div class="questions-answer">
              <h3 class="questions-title">¿Qué es CSS GRID?
                  <span class="questions-arrow">
                      <img src="./assets/img/arrow.svg" alt="" class="questions-img"/>
                  </span>
              </h3>
              <p class="questions-show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum soluta fuga animi quia hic accusamus, quaerat qui sit, error saepe quasi ipsum distinctio amet excepturi natus voluptates porro explicabo a. Aspernatur hic culpa provident voluptatem, quibusdam nulla. Dolores vel asperiores dolor exercitationem, tempore alias at, nesciunt atque recusandae explicabo ad.</p>
          </div>
      </article>
  </section>

</section>