<nav class="nav nav-container">
  <div class="nav-logo">
      <h2 class="nav-title">Dev<strong>Xperts</strong></h2>
  </div>

  <ul class="nav-link nav-link--menu">
      <li class="nav-items"><a href="#inicio" class="nav-links">Inicio</a></li>
      <li class="nav-items"><a href="#servicios" class="nav-links">Servicios</a></li>
      <li class="nav-items"><a href="#nosotros" class="nav-links">Nosotros</a></li>
      <li class="nav-items"><a href="#equipo" class="nav-links">Equipo</a></li>
      <li class="nav-items"><a href="#faq" class="nav-links">FAQ</a></li>
      <li class="nav-items"><a href="#contacto" class="nav-link-contact">Contacto</a></li>
      <img src="./assets/img/close.svg" alt="" class="nav-close"/>
  </ul>

  <div class="nav-menu">
      <img src="./assets/img/menu.svg" alt="" class="nav-img"/>
  </div>
</nav>

<header id="inicio" class="hero">

  <section class="hero-container container">
      <h1 class="hero-title">Transforma tu negocio con soluciones tecnológicas</h1>
      <p class="hero-paragraph">
        En <strong>DevXperts</strong>, te ayudamos con desarrollo de APIs, apps móviles, sitios web y consultoría técnica. Nuestro equipo de expertos en tecnología está listo para llevar tu proyecto al siguiente nivel. ¡Tu idea, nuestra tecnología!
      </p>
      <a href="https://wa.me/73776340?text=Hola,%20me%20interesa%20conocer%20más%20sobre%20los%20servicios%20tecnológicos%20que%20ofrecen.%20¿Podrían%20darme%20más%20información?" target="_blank" class="cta">Contáctanos</a>

  </section>
</header>