<nav class="nav nav-container">
  <div class="nav-logo">
      <h2 class="nav-title">Curso CSS</h2>
  </div>

  <ul class="nav-link nav-link--menu">
      <li class="nav-items"><a href="#inicio" class="nav-links">Inicio</a></li>
      <li class="nav-items"><a href="#servicios" class="nav-links">Servicios</a></li>
      <li class="nav-items"><a href="#nosotros" class="nav-links">Nosotros</a></li>
      <!-- <li class="nav-items"><a href="#" class="nav-links">Proyectos</a></li> -->
      <li class="nav-items"><a href="#contacto" class="nav-link-contact">Contacto</a></li>
      <img src="./assets/img/close.svg" alt="" class="nav-close"/>
  </ul>

  <div class="nav-menu">
      <img src="./assets/img/menu.svg" alt="" class="nav-img"/>
  </div>
</nav>

<header id="inicio" class="hero">

  <section class="hero-container container">
      <h1 class="hero-title">Aprende CSS3 desde CERO hasta dominarlo.</h1>
      <p class="hero-paragraph">
          Elige aprender CSS de una vez por todas, una vez que termines este curso serás capaz de crear cualquier layout con CSS y crear tus propias animaciones.
      </p>
      <a href="#" class="cta">Comienza ahora</a>
  </section>
</header>