<section id="servicios" class="container about">
  <h2 class="subtitle mt-70">Nuestros Servicios</h2>
  <p class="about-paragraph">
      Todo lo necesario y obligatorio de CSS, (Flexbox, Grid, Custom properties, Position, Animaciones, Box Model y más)
  </p>

  <div class="about-main">
      <article class="about-icons">
          <img src="./assets/img/api.png" alt="" class="about-icon">
          <h3 class="about-title">API's y más</h3>
          <p class="about-paragraph">Diseñamos e integramos API's y servicios en la nube desde cero.</p>
      </article>

      <article class="about-icons">
          <img src="./assets/img/movil.png" alt="" class="about-icon">
          <h3 class="about-title">Desarrollo mobile</h3>
          <p class="about-paragraph">Desarrollamos aplicaciones nativas para dispositivos Android y próximamente para iOS.</p>
      </article>

      <article class="about-icons">
          <img src="./assets/img/web.png" alt="" class="about-icon">
          <h3 class="about-title">Desarrollo web</h3>
          <p class="about-paragraph">Realizamos sitios web tanto front-end como back-end, y web-apps para ser desplegadas en plataformas como Heroku, PythoAnywhere, Velneo, etc.</p>
      </article>
  </div>
</section>