<section id="servicios" class="container about">
  <h2 class="subtitle mt-70">Nuestros Servicios</h2>
  <p class="about-paragraph">
    Soluciones tecnológicas personalizadas para llevar tu negocio al siguiente nivel.
  </p>

  <div class="about-main">
      <article class="about-icons">
          <img src="./assets/img/api.png" alt="" class="about-icon">
          <h3 class="about-title">API's y más</h3>
          <p class="about-paragraph">
            Desarrollamos e integramos APIs robustas y servicios en la nube según tus necesidades.
          </p>
      </article>

      <article class="about-icons">
          <img src="./assets/img/movil.png" alt="" class="about-icon">
          <h3 class="about-title">Desarrollo móvil</h3>
          <p class="about-paragraph">Desarrollamos aplicaciones nativas para dispositivos Android y próximamente para iOS.</p>
      </article>

      <article class="about-icons">
          <img src="./assets/img/web.png" alt="" class="about-icon">
          <h3 class="about-title">Desarrollo web</h3>
          <p class="about-paragraph">
            Diseñamos y desarrollamos sitios web, plataformas backend y web-apps listas para producción.
          </p>
      </article>
  </div>
</section>