<div class="nav-bottom">
  <div class="popup-whatsapp fadeIn">
    <div class="content-whatsapp -top">
      <button type="button" class="closePopup">
        <i class="material-icons icon-font-color">close</i>
      </button>
      <div class="message-container">
        <img src="./assets/img/secretary.png" width="50" alt="Secretario" />
        <p>Hola, ¿en qué podemos ayudarle?</p>
      </div>
    </div>
    <div class="content-whatsapp -bottom">
      <input
        class="whats-input"
        id="whats-in"
        type="text"
        placeholder="Enviar mensaje..."
      />

      <button class="send-msPopup" id="send-btn" type="button">
        <i class="material-icons icon-font-color--black">send</i>
      </button>
    </div>
  </div>
  <button type="button" id="whats-openPopup" class="whatsapp-button">
    <div class="float">
      <i class="fa fa-whatsapp my-float"></i>
    </div>
  </button>
  <div class="circle-anime"></div>
</div>
